<h1>hello from Rails</h1>
<p>Find me in app/views/say/hello.html.erb</p>

<p>
      <%= 1+2 %>
	  <%= "cow" + "boy" %>
	  <%= 1.hour.from_now.localtime %>

It 's now  <%= @time   %>
</p>

<p>
    <%= link_to  "Goodbye",say_goodbye_path %>
</p>



